
/* JQUERY

@media (max-width: 650px) {
    body {
      display: block;
      font-size: 80%;
    } 
*/
/********************************* ACCUEIL************/    
/* GENERAL */
img:hover {
    transform: scale(1.06);

}
a:visited {
    color : #555555;
}   
  
button:hover, .loginButton:hover, .signUpButton:hover{
    transform: scale(1.06);
    opacity: 1;
}
#searchButton:hover, #edtiProfilButton:hover, #signUpButton:hover {
    transform: scale(1.06);
    opacity: 1;
} 
* {
    font-family: Helvetica,Arial, sans-serif;
     margin:0;
    padding:0;
    
}
a {
    color : #999999;
    text-decoration: none;
    font-weight: 600;
}
input[type = submit] {
	border-radius: 8px;
    width: 140px;
    height: 35px;    
    background-color: #73d3c0 ;
    font-size: 16px;
    color: white;
    font-weight: 700;            
    opacity: 0.8;
    border : none;
}
input {
    color: gray;       
    font-weight: 900;
}
	
body {
	
    /* margin : 0px; */
    background-color: #fafafa;      
   /*  padding-bottom: 0px !important;
    margin-bottom: -40px !important; */
    /* Margin bottom by footer height */
 	 margin-bottom: 0px;
 	 padding : 0; 	 
}   

/* HEADER */
#logo{
	width: 200px;
    margin-left: 100px;
}
#logo2{
	width: 200px; 
	margin-top : -5px;   
}
#brand {
	padding-top : 13px;
}
.connected, .notConnected {
	padding-top : 13px;
	color : #73d368;
}
header {
    height: 50px;
}

.bonjour {
	float : right;
	margin-left : 15px;
	margin-top : 2px;
	color : #73d368;
}
#headerbloc {    
    display: flex;
    justify-content: space-around;           
}

.headerlinks {
   margin-right: 25px;  
}
.cnxIcon1 {	
	height: 20px;
	margin-left: 7px;
}
/* SEPARATION */
#separator{
    margin-bottom: 25px;
	height: 10px;
    width: 100%;
    background: linear-gradient(
0deg, rgba(122,122,122,0) 0%, rgba(130,226,212,1) 100%);
}
/* LIGNE DE RECHERCHE */
#sectionSearch {
	width: 100%;
	max-width: 1024px; 
	margin : auto; 
	
}

#trois {
	display : flex;
	justify-content: center;
    flex-flow: row wrap; 
}
.searchBar{	
    margin: 40px;      
    margin-bottom: 30px;   
}

#searchInput {    
    width: 300px;
    margin-right: 40px;       
    color: #111111;     
    border: none;
    font-size : 16px;
    background-color: #fafafa;
    border-bottom: 5px solid grey; 
}


#catLContent {    
    color: #111111;
    margin-right: 30px;  
    padding-top: 10px;     
}
#checkContent {
	display : flex;
	padding-left : 96px;
	justify-content: start;
    flex-flow: column;
	color : #111111;
	font-weight : 400;	
	padding-top : 10px;
	grid-column: 1 / 2;
 	grid-row: 2 / 3;
}
#searchIcon {
	width: 20px;    
}
#catLabel {
	margin-right : 15px;
	font-weight: 700;
}
#categories {         
    width : 150px; 
    
}

/* ARTICLES */

.vendeur {
    margin-right: 15px;
    
}
.sectionArticles {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 50px;
    margin: 20px auto 20px auto;    
}
/* UN ARTICLE */
.articleIndex {      
    height : 200px;   
    display: flex;
    flex-direction: row;  
    background-color: #a3e29b ;   
    padding: 30px; 
    -webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
    
}
.right {      
   max-width: auto ;
   padding-left : 30px; 
   color : white;
}
.imgArticleIndex {
    
    width: 200px;
    height: 200px;
    border : 2px solid white;    
}
.left {
   display: flex;
   max-width: 50%; 
   height : 200px;  
   width: 200px; 
    
}
.titreArticleIndex {
	font-size: 30px;
	margin : 0;	
}
.prix {
	font-size: 20px;
}
.adresse {
	font-size: 14px;
}
.vendeur {
	text-decoration: underline;
}
/***********************************************LOGIN *************/
.titleLogin {  
	margin-top: 50px;
    font-size: 40px;
    color: #73d3c0 ;    
}
.formLogin {
    font-size: 20px;
    font-weight: 700;
    color: #a3e29b ; 
    display: block;
    text-align: center;  
    height: 83vh;  
}
.form {
	margin: 15px 0px;
}
.passLogin {
    font-size: 13px;    
    color: black;
    font-weight: 400;
}

/********************************************* Profil*****************************************/
#titleMyprofil {
	margin : 40px 0;
	font-size: 50px;
	margin-left : 50px; 
}
#edtiProfilButton {
	margin-top : 30px;
	margin-left : 70px;
}
#bodyProfil {
	height: 80vh;
}
#bodyProfil div.essai {
	padding-bottom : 30px;
	
	
}

/************************************************************ SignUp*******************************************/
.globalForm  {
    font-size: 20px;
    font-weight: 700;
    color: #404040 ;       
    width: 400px;
    margin : auto; 
    
    height: 88vh;   
}
.signUpForm h2 {
	margin-left : 50px;
}
#header {
	height: 50px;
}
#header a {	
	padding : 18px;
	display : block;
	text-align: center;
}
#signupButton {
	margin : 0 30px;
}
/**********************************Nouvelle Vente**********************************************************/

.bid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: 20px auto 20px auto; 
    place-items: center; 

}

.rightBid {
     max-width: 50%;
     align-self: end;
}


.leftBid {    
    margin-top: 70px;
    max-width: 60%;
    align-self: start;
}
#imgArticleVente{
    max-width: 350px;
    max-height: 350px;
    display: block;
}

.fieldset {      
    
    color: #a3e29b;
    font-weight: 900;
    
}
.fieldsetRetrait {
    margin-top: 20px;     
    color: #a3e29b;
    font-weight: 900;    
}
.buyForm {
    
    padding-bottom: 10px;
}
#legend {
    font-size: 20px;
    color: gray;
    border-bottom : 2px solid grey;;
}
#debutenchere,#finenchere {
    font-size: 20px;
    
}
#buyTitle {
	text-align: center;
	color : #73d3c0;
	margin: 40px 0px;
}

/******************************************FicheProduit****************************************/
.product {
    width: 900px;
    height : 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    /* grid-auto-flow: column;  focer la mise en colonne*/
    margin: 10px auto 20px auto;
    height: 85vh;
    place-items: center; 
}
.fiche {
    
    width : 400px;    
    height: 530px;    
}
.photo {
	background-color : #a3e29b; 
    height: 530px;
    width: 450px; 
    text-align: center; 
    -webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px; 	
}

.imgArticleFirst {	
	height: 280px;
	width: 343px;
	border : 2px solid white; 
	margin-top : 120px;
}
.essai {
   display: flex;    
   width: 400px;
   padding-bottom : 25px;     
}
.firstColumn {
    width: 140px;
    color: #73d3c0; 
    
}
.detail {
    margin-left: 20px;
    width: 200px;
}
#catArticle {
    font-size: 20px;
    margin-top: 15px;
}
#encherir {
	margin-left : 15px;
	width: 120px;
}
#bidButton {
	margin-left : 15px;
	margin-top : -4px;
}

.fiche h3, h4, p{
	margin : 0px;
    padding :0px;
}
/******************** MODIFIER *****************/

.buttonEdit {
	margin-left : 120px;
	margin-bottom : 15px;
}
.globalForm h1 {
	font-size: 40px;
}
/******************Foooter ****************/
footer {
	background-color: #fafafa;      	
	width: 100%; 	
	/* position : absolute;
	bottom : 0; */
	height : 10px;	
	
}
#foot {		
	display : flex;	
	justify-content: space-around;	
	margin-bottom: 20px;			
} 
#foot div {
	margin :0px;
	padding : 0px;
}
#foot h5 {
	margin : 0px;
}
#separatorFooter{
    margin-bottom: 10px;
	height: 10px;
    width: 100%;
    background: linear-gradient(
0deg, rgba(122,122,122,0) 0%, rgba(130,226,212,1) 100%);
}
#by {
	font-size: 15px;
}
