
/* JQUERY

@media (max-width: 650px) {
    body {
      display: block;
      font-size: 80%;
    } 
*/
/********************************* ACCUEIL************/    
/* GENERAL */
img:hover {
    transform: scale(1.06);

}
a:visited {
    color : #555555;
}   
  
button:hover, .loginButton:hover, .signUpButton:hover{
    transform: scale(1.06);
    opacity: 1;
}
#searchButton:hover, #edtiProfilButton:hover, #signUpButton:hover {
    transform: scale(1.06);
    opacity: 1;
} 
* {
    font-family: Helvetica,Arial, sans-serif;
    
}
a {
    color : #999999;
    text-decoration: none;
    font-weight: 600;
}
input [type = "submit"] {
	border-radius: 8px;
    width: 120px;
    height: 35px;    
    background-color: #73d3c0 ;
    font-size: 16px;
    color: white;
    font-weight: 700;            
    opacity: 0.8;
    border : none;
}
	
body {
    margin : 0px;
    background-color: #fafafa;
}   

/* HEADER */
#logo{
	width: 200px;
    margin-left: 100px;
}
#brand {
	padding-top : 13px;
}
.connected, .notConnected {
	padding-top : 17px;
	color : #73d368;
}
header {
    height: 50px;
}

.bonjour {
	float : right;
	margin-left : 15px;
	margin-top : 2px;
	color : #73d368;
}
#headerbloc {    
    display: flex;
    justify-content: space-around;           
}

.headerlinks {
   margin-right: 25px; 

}
.headerlinks img{
	width: 10px;
	margin-left: 10 px;
}
/* SEPARATION */
#separator{
    margin-bottom: 25px;
	height: 10px;
    width: 100%;
    background: linear-gradient(
0deg, rgba(122,122,122,0) 0%, rgba(130,226,212,1) 100%);
}
/* LIGNE DE RECHERCHE */
#sectionSearch {
	width: 100%;
	max-width: 1024px; 
	margin : auto; 
	
}

#trois {
	display : flex;
	justify-content: center;
    flex-flow: row wrap; 
}
.searchBar{	
    margin: 40px;      
    margin-bottom: 30px;   
}

#searchInput {    
    width: 300px;
    margin-right: 40px;       
    color: #111111;     
    border: none;
    font-size : 16px;
    background-color: #fafafa;
    border-bottom: 5px solid grey; 
}

#searchButton {
    border-radius: 8px;
    width: 120px;
    height: 35px;    
    background-color: #73d3c0 ;
    font-size: 16px;
    color: white;
    font-weight: 700;            
    opacity: 0.8;
    border : none;
}
#catLContent {    
    color: #111111;
    margin-right: 30px;  
    padding-top: 10px;     
}
#checkContent {
	display : flex;
	padding-left : 96px;
	justify-content: start;
    flex-flow: column;
	color : #111111;
	font-weight : 400;	
	padding-top : 10px;
	grid-column: 1 / 2;
 	grid-row: 2 / 3;
}
#searchIcon {
	width: 20px;    
}
#catLabel {
	margin-right : 15px;
	font-weight: 700;
}
#categories {         
    width : 150px; 
    
}

/* ARTICLES */

.vendeur {
    margin-right: 15px;
    
}
.sectionArticles {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 50px;
    margin: 20px auto 20px auto;    
}
/* UN ARTICLE */
.articleIndex {      
    height : 200px;   
    display: flex;
    flex-direction: row;  
    background-color: #a3e29b ;   
    padding: 30px; 
    -webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
    
}
.right {      
   max-width: auto ;
   padding-left : 30px; 
   color : white;
}
.imgArticleIndex {
    
    min-width: 80px;
    min-height: 80px; 
    border : 2px solid white;    
}
.left {
   display: flex;
   max-width: 50%; 
   height : 200px;  
   width: 200px; 
    
}
.titreArticleIndex {
	font-size: 30px;
	margin : 0;	
}
.prix {
	font-size: 20px;
}
.adresse {
	font-size: 14px;
}
.vendeur {
	text-decoration: underline;
}
/***********************************************LOGIN *************/
.titleLogin {
    text-align: center;      
    font-size: 60px;
    color: #73d3c0 ;    
}

#separator{
	height: 10px;
    width: 100%;
    background: linear-gradient(
0deg, rgba(122,122,122,0) 0%, rgba(130,226,212,1) 100%);
}

.formLoginm {
    font-size: 30px;
    font-weight: 700;
    color: #a3e29b ; 
    display: block;
    text-align: center;
}
.form  {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
} 
input {
    color: gray;       
    font-weight: 900;
}

.loginButton {
    margin-top: 40px;
    border-radius: 8px;
    width: 250px;
    height: 50px;    
    background-color: #73d3c0 ;
    font-size: 20px;
    color: white;
    font-weight: 700;   
    text-align: center;
    opacity: 0.8;
}
.passLogin {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

/********************************************* Profil*****************************************/
.profil {
    text-align: center;
    font-size: 25px;
    
}



#edtiProfilButton {    
    border-radius: 8px;
    width: 250px;
    height: 50px;    
    background-color: #73d3c0 ;
    font-size: 25px;
    color: white;
    font-weight: 700; 
    opacity: 0.8;
}
/************************************************************ SignUp*******************************************/
.signUpForm  {
    font-size: 30px;
    font-weight: 700;
    color: #404040 ; 
    display: block;    
}
.signUp {
    text-align: center;
}
.signUpButton {
    margin-top: 40px;
    border-radius: 8px;
    width: 250px;
    height: 50px;    
    background-color: #73d3c0 ;
    font-size: 25px;
    color: white;
    font-weight: 700;   
    opacity: 0.8;
}
#signUpButton {
    margin-top: 40px;
    border-radius: 8px;
    width: 100px;
    height: 40px;    
    background-color: #73d3c0 ;
    font-size: 15px;
    color: white;
    font-weight: 700;  
    opacity: 0.8; 
}

/**********************************Nouvelle Vente**********************************************************/

.bid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: 20px auto 20px auto; 
    place-items: center; 

}

.rightBid {
     max-width: 50%;
     align-self: end;
}


.leftBid {    
    margin-top: 70px;
    max-width: 60%;
    align-self: start;
}
#imgArticleVente{
    max-width: 350px;
    max-height: 350px;
    display: block;
}

.fieldset {      
    
    color: #a3e29b;
    font-weight: 900;
    
}
.fieldsetRetrait {
    margin-top: 20px;     
    color: #a3e29b;
    font-weight: 900;    
}
.buyForm {
    
    padding-bottom: 10px;
}
#legend {
    font-size: 20px;
    color: gray;
    border-bottom : 2px solid grey;;
}
#debutenchere,#finenchere {
    font-size: 20px;
    
}
.buyButton {
    text-align: center;
    opacity: 0.8;
}

/******************************************FicheProduit****************************************/
.product {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    /* grid-auto-flow: column;  focer la mise en colonne*/
    margin: 10px auto 20px auto; 
    place-items: center; 
}
.fiche {
    max-width: 70%;
    align-self: end;  
}
.photo {
    margin-top: 100px;
    max-width: 80%;
    align-self: start;

}
.essai {
   display: flex;    
   width: 400px;
}
.detail {
    margin-left: 30px;
    width: 300px;    
}
.firstColumn {
    width: 120px;
    color: #a3e29b;
}
#catArticle {
    font-size: 20px;
    margin-top: 15px;
}
.encherir {
    margin-top: 15px;
}